# Question1

In [92]:
a = 0
def b():
    global a       
    a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

# Explanation question 1:

In [ ]:
What value is displayed when the last expression (a) is evaluated? 6
when above code is compiled
value of a is initialised as 0
than function b is called. In there variable a is defined as global which means it is accessible throughout the program. 
now a is changing it's value every by 2 when function b is called. 

since b() has been called thrice value of a has now become 6 which is the output

# Question2

In [11]:
def file_length(file_name):
    
    #using try and except blocks to run the program.
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    #except block
    except:
        print('{} does not exist. Try with correct file name or format'.format(file_name))

#calling functions
file_length("bloodtype1.txt")
file_length("loodtype1.txt")

101
loodtype1.txt does not exist. Try with correct file name or format

# Question3

In [38]:
#creating class marsupial
class Marsupial:
    def __init__(self):               #initialising
        self.pouch = []

    def put_in_pouch(self, item):     #put in fuction
        self.pouch.append(item)

    def pouch_contents(self):         #contents function
        return self.pouch

#performing inheritance 
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    
#PART-1
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [39]:
#PART-2

#creating object
k = Kangaroo(0, 0)
print(k)
#adding item to pouch
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents()) 

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

#print the location
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question4

In [46]:
def collatz(x):
    #printing number since question asked to start from number only 
    print(x)
    
    #chechking with condition if number is 1
    if x == 1:
        return
    
    #checking if number is even
    elif (x % 2 == 0):
        collatz(x // 2)
        
    #for any other value apart from even and 1
    else:
        collatz(3*x + 1)
        
#Part-1
collatz(1)

1

In [45]:
#Part-2
collatz(10)

10
5
16
8
4
2
1

# Question5

In [71]:
def binary(n):
    if n > 1:
        #using recursive funtion if number is greater than 1 and 
        binary(n // 2)
    bin = n % 2
    print(bin, end = '')

binary(0)
print('\n')
binary(1)
print('\n')
binary(3)
print('\n')
binary(9)

0

1

11

1001

# Question6

# Question7

# Question8

In [ ]:
Write SQL queries on the below database table that return: 
#assuming the name of table is DATA

a) All the temperature data.
ANSWER: 
    Select temperature from data

b) All the cities, but without repetition.
ANSWER: 
    Select distinct city from data
    
c) All the records for India.
ANSWER: 
    Select * from data 
    where country = 'india'
    
d) All the Fall records.
ANSWER: 
    Select * from data 
    where season = 'fall'
    
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
ANSWER: 
    Select city, country, season from data 
    where rainfall > 200 && rainfall < 400
    
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
ANSWER: 
    Select city, country from data 
    where temperature > 20 
    order by temperature asc
    
g) The total annual rainfall for Cairo.
ANSWER:
    Select sum (rainfall) from data 
    where city = 'Cairo'
    
h) The total rainfall for each season.
ANSWER: 
    Select sum (rainfall) from data 
    group by season

# Question9

In [91]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_upper = [word.upper() for word in words]
words_lower = [word.lower() for word in words]
words_lengths = [len(word) for word in words]
words_info = [[word.upper(), word.lower(), len(word)] for word in words]
words_4_or_more = [word for word in words if len(word) >= 4]

print("Answer is: \n{} \n{} \n{} \n{} \n{}".format(words_upper, words_lower, words_lengths, words_info, words_4_or_more))

Answer is:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']